<a href="https://colab.research.google.com/github/andihariandi4232401054/Pemograman-Dasar/blob/main/Paradigma_Pemograman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
# formatted_string

name = "Andi Hariandi"
print(f"halo, nama saya {name}")

halo, nama saya Andi Hariandi

In [69]:
# %-formatting

name = "Andi Hariandi"
print("Nama saya %s" % (name))

Nama saya Andi Hariandi

In [70]:
# str.format()

name = "Andi Hariandi"
print("Nama saya {}". format(name))

Nama saya Andi Hariandi

In [71]:
# str.format()_2

nama = "Andi"
print("Nama saya:", nama)

Nama saya: Andi

In [72]:
# dynamic_typing

age = 20
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [73]:
# dynamic_typing_2

x = 6
print(type(x))

x = "6"
print(type(x))

<class 'int'>
<class 'str'>

In [74]:
# dynamic_typing_3

x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [75]:
# Numbers_Immutable

var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [76]:
# Boolean (bool)

x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [77]:
# String - Single Line

x = 'Polibatam'
print(type(x))

<class 'str'>

In [78]:
# String - Multi Line

multi_line = """Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu dihari MU juara EPL tahun 2013."""
print(multi_line)

Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu dihari MU juara EPL tahun 2013.

In [79]:
# Metode_Indexing

x = 'Polibatam'
print(x[0])

P

In [80]:
# Metode_Slicing

x = 'Polibatam'
print(x[2:])

libatam

In [81]:
# List

x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [82]:
# List_2

x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [83]:
# Indexing_List

x = [1, 'Polibatam', True, 1.0]
print(x[2])

True

In [84]:
# Mutable_List

x = [1, 2.20, 'Manchester United']
x[0] = 'Manchester UK'
print(x)

['Manchester UK', 2.2, 'Manchester United']

In [85]:
# Slicing_List

x = ["laptop", "monitor", "mouse", "mouseoad", "keyboard", "webcam", "microphone"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mouseoad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [86]:
# Tuple (Elemen tidak bisa diubah)

x = (1,  "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [87]:
# Indexing_Tuple

x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [88]:
# Immutable_Tuple

x = (5, 'program', 1+3j)
x[1] = 'polibatam'

TypeError: 'tuple' object does not support item assignment

In [89]:
# Set

x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [91]:
# Set_2

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("Union:", union)

intersection = set1.intersection(set2)
print("Intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}

In [92]:
# Dictionary

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}

print(type(x))

<class 'dict'>

In [93]:
# Dictionary_2 (no indexing)

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}

print(x[0])

KeyError: 0

In [94]:
# Dictionary_3

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}

print(x ['name'])

Andi Hariandi

In [95]:
# Dictionary_4 (Menambah Data)

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}
x ['Job'] = "Coaching Staff Manchester United"

print(x)

{'name': 'Andi Hariandi', 'age': 20, 'isMarried': False, 'Job': 'Coaching Staff Manchester United'}

In [96]:
# Dictionary_5 (Menghapus Data)

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'Andi Hariandi', 'age': 20}

In [97]:
# Dictionary_6 (Mengubah Data)

x = { 'name': 'Andi Hariandi', 'age': 20, 'isMarried': False}
x ['name'] = "Apin"

print(x)

{'name': 'Apin', 'age': 20, 'isMarried': False}

In [98]:
nama_buah: list[str] = ["apel", "mangga"]